:root {
   /* Colors */
    --color-primary: #00ffcc;
    --color-secondary: #6a00f4;
    --color-background: #eaecee;
    --color-text: #3c3e41;
    --color-text-dark: #0d1111;
    --color-border: #dce1e4;
    --color-shadow-light: #fff;
    --color-shadow-dark: #c1c8d3;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;

}

.header {
    padding: 0.5rem 0.8rem 0.5rem;
    border-bottom: 2px solid var(--color-border);
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    padding-top: 0.5rem 1rem 0.8rem;
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
    background-color: var(--color-background);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.header__brand {
    display: flex;
    align-items: center;
    margin: auto;
}

.header__brand img {
    text-align: center;
    width: 50px ;
    object-fit: cover;
    border-radius: 50%;

}

.header__brand h1 {
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    
}

.header .navigation {
    display: flex;
    justify-content: end;
    align-items: center;
}

.navigation .nav__list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav__list li a {
    color: var(--color-text);
    text-decoration: none;
    padding: 0.5rem .8rem;
    border-radius: 15px;
    transition: all 0.3s ease;
    position: relative;
}

.nav__list li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #6a00f4;
    transition: .3s ease;
    transform: scaleX(0);
    text-align: center;
}

.nav__list li a:hover::after {
    transform: scale(.50);
}

.portfolio {
    padding: 60px 20px;
    background: #f7f7f7;
    text-align: center;
    min-height: 100vh;
    }

.section-title {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #222;
}

.section-subtitle {
    color: #666;
    margin-bottom: 40px;
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    justify-content: center;
}

.portfolio__card {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s forwards;
}

.portfolio__card:nth-child(2) {
    animation-delay: 0.2s;
}
.portfolio__card:nth-child(3) {
    animation-delay: 0.4s;
}

.portfolio__card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.portfolio__card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio__info {
    padding: .8rem;
}

.portfolio__info h3 {
    margin-bottom: 10px;
    color: #007bff;
}

.portfolio__info p {
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

/*  Animasi muncul */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem;
    background-color: transparent;
}